<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_trabajo.Tipo %>
</p>

<%= link_to 'Edit', edit_tipo_trabajo_path(@tipo_trabajo) %> |
<%= link_to 'Back', tipo_trabajos_path %>
