
<div class="centrado">
    <div class="titulo">
        <h1>Editando Cliente</h1>
    </div>

    <div class="cuerpo_centro">
        <%= render 'form', cliente: @cliente %>
        <%= link_to 'Show', @cliente %>
    </div>
</div>
