<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @estado_propuestum.estado %>
</p>

<%= link_to 'Edit', edit_estado_propuestum_path(@estado_propuestum) %> |
<%= link_to 'Back', estado_propuesta_path %>
