<% if session[:user_id] == nil%>
    <%= redirect_back_or root_path %>
<% end %>

<div class="centrado">
    <div class="titulo">
        <h1>Describa su problema :)</h1>
    </div>
    <div class="cuerpo_centro">
       <%= render 'form', trabajo: @trabajo %>
        <%= link_to 'Back', trabajos_path %>
    </div>
</div>